table {
    text-align: center;
}

.input-group {
    display: flex;
    justify-content: center;
}

.inputQuantity {
    width: 50px;
    text-align: center;
}

.shop {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
}

.title {
    text-align: center;
    margin: 20px 0;
}

.container-custom {
    width: 25%;
    margin: 0 auto;
}

.form-control {
    border: none;
    border-bottom: 1px solid gray;
}

.button-register, .button-login {
    width: 100%;
}

.bg-custom {
    background-color: #343a40;
}

.btn-custom {
    background-color: #343a40;
    color: white;
    border: 1px solid black;
}

.btn-custom:hover {
    background-color: #fff;
    color: black;
    border: 1px solid black;
}

.btn-outline-custom {
    background-color: #fff;
    color: black;
    border: 1px solid gray;

}

.btn-outline-custom:hover {
    background-color: #343a40;
    color: white;
    border: 1px solid gray;
}

.card-img-top {
    width: 100%;
    height: 150px;
    object-fit: contain;
}

.card-img-top-cart {
    height: 50px;
    object-fit: contain;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    display: table;
    width: 100%;
}

footer {
    display: table-row;
    bottom: 0;
    height: 20px;
    color: white;
}

.alert {
    text-align: center;
}